.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
   background: #888;
   color: #eee;
   transition: 1s ease;
}
body{
   background: #eee;
}
h3.page-header{
   margin-top: 0;
}
#content{
   font-size: 18px;
   background: #fff;
   margin-top: 60px;
   min-height: 80%;
   padding: 20px;
   border: 1px solid #ccc;
   box-shadow: 0 0 3px #ccc;
   overflow: hidden;
}
footer{
	padding: 10px 0;
	color: #888;
}


/*------------------ HALAMAN tugas ---------------- */


/*Menyembunyikan semua blok soal*/
.blok-soal{
   display: none;
}
/*Menyembunyikan soal yang memiliki class active*/
.blok-soal.active{
	display: block;
}
/*Mengatur nomor soal dan huruf pada pilihan agar berbentuk lingkaran*/
.nomor, .huruf{
   display: block;
   width: 35px;
   padding: 5px 0;
   text-align: center;
   border: 1px solid #ccc;
   border-radius: 50%;
   cursor: pointer;
}
/*Mengatur warna background dan teks nomor soal*/
.nomor{
   background: blue;
   color: #fff;
}
/*Menyembunyikan input radio*/
input[type=radio]{
   display: none;
}
/*Mengganti warna background huruf ketika input radio dicentang*/
input[type=radio]:checked ~ .huruf{
   background: green;
   color: #fff;
}
/*Mengatur tampilan pilihan*/
.pilihan{
   margin-bottom: 20px;
}
.pilihan .teks{
   padding-top: 10px;
}
/*Mengatur konten tugas dan nomor tugas*/
.konten-tugas, .nomor-tugas{
   border: 1px solid #eee;
   padding: 10px;
   height: 100%;	
}
.blok-soal .box{
   height: 400px;
   overflow-y: auto;
   overflow-x: hidden;
}

/*Mengatur lebar tombol nomor soal*/
.blok-nomor{
   width: 20%;
   display: inline-block;
}
.blok-nomor .box{
   padding: 5px;
}

/*Mengatur desain tombol nomor soal*/
.tombol-nomor{
   display: block;
   width: 100%;
   padding: 10px 0;
   text-align: center;
   background: red;
   color: #fff;
   border: 2px solid #000;
   cursor: pointer;
}
/*Mengatur warna tombol nomor soal*/
.tombol-nomor.green{
	background: green;
}
.tombol-nomor.yellow{
	background: yellow;
	color: #000;
}
